{% extends 'index.html' %}
{% load static %}
{% load humanize %}


{% block title %}
{{ block.super }}
{% endblock %}

{% block header0 %}
<style type="text/css">
.product-line {
	min-height: 150px;
	width: 100%;
	margin-bottom: 20px;
	padding: 20px;
}

.product-line:nth-child(odd) {
	background: #FFF2F1;
}

.product-line:nth-child(even) {
	background: #FFF2FF;
}
.product-image {
	height: 140px;
	width: 140px;
}
.product-details {
	margin-left: 20px;

}
a.product-website-link{
	color: #28262C;
}
div.tags-div{
	padding-top: 10px; 
	background: red;
}
.product-line:nth-child(odd) .tags-div{
	background: #FFF2F3;
}
.product-line:nth-child(even) .tags-div{
	background: #FFF4FF;
}
div.product-link-list{
	background: rgba(255, 255, 255, 1);
	outline: thick;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

</style>
{% endblock %}

{% block content_1 %}
<div class="row">
	<div class="col-lg-12">
		<form method="get" action="">			
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Search from {{products_|length}} Products in all Categories"
				value="{{ request.GET.q }}">
				<button class="btn btn-outline-default btn-sm" type="submit" value="Search">search</button>

			</div><!-- /input-group -->
		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		
	</div>
</div>
<div class="row" style="margin-top: 20px">
	<div class="col">
		<h3 class="pull-right">
			<a class="btn btn-sm btn-outline-primary" href="{% url 'user:catagory_list' %}"  style="margin: 20px; margin-top: 0px;">Categories</a>
		</h3>
		<h3>Products</h3>
		{% if products_ %}
		{% for product in products_ %}
		<div class="row product-line rounded">
			<div class="product-image">
				<img  class="rounded" src="https://placeimg.com/140/140/tech/grayscale">
			</div>
			<div class="col">
				{% if product.product_verified %}
				<h1 class="pull-right" style="color: blue; font-size: 0.7em">
					<i class="fa fa-certificate fa-lg" style="color: blue" aria-hidden="true"></i> VERIFIED
				</h1>
				{% endif %}

				<div class="product-details">
					<div class="row">
						<div class="col" style="float: left;">
							<a class="product-website-link" href="{{ product.get_absolute_url }}">
								<p class="lead">{{product.product_name}}</p>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col" style="float: left;">
							<p >{{product.product_pitch}}</p>
						</div>
					</div>
					<!-- Product URLs -->
					<div class="row" style="margin-left: 0px">
						<div class="product-link-list rounded" style="float: right;">
							{% for link in links_ %}
							{% if link.social_connection == product %}
							{% if link.get_platform_display == 'ios' %}
							
							<a href="{{link.link}}" target="_blank"><i class="fa fa-lg fa-apple" style="margin: 5px"></i></a>
							{% endif %}

							{% if link.get_platform_display == 'android' %}
							<a href="{{link.link}}" target="_blank"><i class="fa fa-lg fa-android" style="margin: 5px"></i></a>
							{% endif %}

							{% if link.get_platform_display == 'website' %}
							<a href="{{link.link}}" target="_blank"><i class="fa fa-lg fa-home" style="margin: 5px"></i></a>
							{% endif %}

							{% if link.get_platform_display == 'chrome' %}
							<a href="{{link.link}}" target="_blank"><i class="fa fa-lg fa-chrome" style="margin: 5px"></i></a>
							{% endif %}
							
							{% endif %}
							{% endfor %}
							<a href="{{product.website}}" target="_blank"><i class="fa fa-lg fa-home" style="margin: 5px"></i></a>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<p class="shadow-text"><b>Note :</b> the revenue details are {{product.revenue_info_source}}</p>
						</div>						
					</div>
				</div>
			</div>
			<div class="col">
				<div class="product-twin">
					<div class="row">
						<div style="float: right;">
							<div class="col-lg-12">
								<div class="row">
									<div class="col pull-right" style="float: right;">
										{% if product.catagory %}
										<a style="margin-right: 5px" href="{{ product.catagory.get_absolute_url }}" class="btn btn-light btn-sm" role="button">{{ product.catagory.catagory_name }}</a>
										{% endif %}
									</div>

									<div class="col-lg-12">
										<p><b>Revenue: </b>${{product.monthly_revenue|intcomma}} /month</p>
									</div>
									<div class="col-sm-12 col-lg-12 col-md-12">
										{% for source in product.revenue_source.all %}
										<a style="margin: 2px" href="" class="btn btn-outline-primary btn-sm" role="button">{{ source.source }}</a>
										{% endfor %}
									</div>
								</div>
								
								<!-- <div class="row">
									<div class="col">
										<p>Basically a twin of:</p>
										{% for twin in product.twin.all %}
										<a href="{{twin.get_absolute_url}}" class="btn btn-outline-secondary btn-sm" role="button">{{ twin.product_name }}</a>
										{% empty %}
										<a href="" class="btn btn-outline-primary btn-sm" role="button">
										This product is unique!</a>
										{% endfor %}
									</div>
								</div> -->
								<div class="row">
									<div class="col">
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 tags-div">
				<div class="row">
					<div class="col-lg-12"  style="visibility: hidden;">
						{% if product.tag %}
						{% for tag in product.tag.all %}
						<a style="margin-right: 5px" href="" class="btn btn-outline-primary btn-sm" role="button">{{ tag.tag }}</a>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		{% endfor %}
		{% endif %}
	</div>
</div>
<div class="row">
	{% if products_ %}
	<div class="pagination col-lg-12">
		<ul class="step-links pager">
			{% if products_.has_previous %}
			<li><a href="?{{ page_request_var }}=

				{{ products_.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Newer</a>
			</li>
			{% endif %}

			<span class="current">
				Page {{ products_.number }} of {{ products_.paginator.num_pages }}.
			</span>

			{% if products_.has_next %}
			<li><a href="?{{ page_request_var }}=
				{{ products_.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Older</a>
			</li>
			{% endif %}
		</ul>
	</div>
	{% endif %}
</div>

{% endblock %}
