{% extends 'index.html' %}
{% load static %}
{% load humanize %}


{% block title %}
{{product.product_name}} | {{ block.super }}
{% endblock %}

{% block header0 %}
<style type="text/css">
/* The heart of the matter */
div.testimonial-group > div.row {
	overflow-x: auto;
	white-space: nowrap;
}
div.testimonial-group > div.row > div.twin-products {
	display: inline-block;
	float: none;
}

/* Decorations */
div.twin-products {
	border-radius: 10px;
	color: #c69;
	font-size: 20px;
	padding: 20px;
	outline: thin;
	border: 1px solid red;
	outline-color: #c69;
	margin: 10px;
}
div.inspired-twin-products {
	border-radius: 10px;
	font-size: 28px;
	padding: 20px;
	background: #c69;
	margin: 10px;
}

div.inspired-twin-products > a{
	color: #fff;
}
div.inspired-twin-products > p {
	color: #fff;
}

div.inspired-twin-products > a.maker {
	font-size: 20px;
}

p.shadow-text {
	color: #99A1A6;
}
</style>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
{% endblock %}

{% block content_1 %}
<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div class="product-image">
			<img src="https://placeimg.com/140/140/tech/grayscale">
		</div>
	</div>
	<div class="col">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h1>{{product.product_name}}</h1>		
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12" style="float: left">
			<div class="row rounded product-detail">
				<div class="col">
					<p>{{product.product_pitch}}</p>
				</div>
			</div>			
			<div class="row rounded product-detail">
				<div class="col">
					<b>Revenue: </b>
					<p>${{product.monthly_revenue|intcomma}} /month</p>

				</div>
				<div class="col-sm-12 col-lg-12 col-md-12">
					{% for source in product.revenue_source.all %}
					<a style="margin-right: 5px" href="" class="btn btn-outline-primary btn-sm" role="button">{{ source.source }}</a>
					{% endfor %}
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12">
					<p class="shadow-text"><b>Note :</b> the revenue detail is {{product.revenue_info_source}}</p>
				</div>
			</div>
			<div class="row rounded product-detail">
				<div class=" product-link-list rounded" style="float: right;">
					{% for link in links_ %}

					{% if link.social_connection == product %}

					{% if link.get_platform_display == 'ios' %}
					<a href="{{link.link}}" target="_blank"><i class="fa fa-lg fa-apple" style="margin: 5px"></i> iOS App</a><br>
					{% endif %}

					{% if link.get_platform_display == 'android' %}
					<a href="{{link.link}}" target="_blank"><i class="fa fa-lg fa-android" style="margin: 5px"></i> Android App</a><br>
					{% endif %}

					{% if link.get_platform_display == 'website' %}
					<a href="{{link.link}}" target="_blank"><i class="fa fa-lg fa-home" style="margin: 5px"></i> Webpage</a><br>
					{% endif %}

					{% if link.get_platform_display == 'chrome' %}
					<a href="{{link.link}}" target="_blank"><i class="fa fa-lg fa-chrome" style="margin: 5px"></i> Chrome Extension</a><br>
					{% endif %}

					{% endif %}
					{% endfor %}
					<a href="{{product.website}}" target="_blank"><i class="fa fa-lg fa-home" style="margin: 5px"></i> Website</a><br>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 20px; visibility: hidden;">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="row rounded product-detail">
			<div class="col">
				<b>Tags: </b>
				{% if product.tag %}
				{% for tag in product.tag.all %}
				<a style="margin-right: 5px" href="" class="btn btn-outline-primary btn-sm" role="button">{{ tag.tag }}</a>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="row rounded product-details" style="margin-top: 20px; visibility: visible;">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h4 class="pull-right"><a href="{{ product.catagory.get_absolute_url }}">View Market</a></h4>
				<h4><b>Market Place </b></h4>
			</div>
			<div class="container testimonial-group">

				<canvas id="pie-chart" width="800" height="450"></canvas>
				<script>
					new Chart(document.getElementById("pie-chart"), {
						type: 'pie',
						data: {
							labels: ["{{product.product_name}}",
							
							{% for product in this_catagory %}

							"{{product.product_name}}",

							{% endfor %}

							],
							datasets: [{
								label: "Revenue (USD/Month)",
								backgroundColor: ["#4B4E6D",
								
								{% for product in this_catagory %}

								"#99A1A6",

								{% endfor %}

								

								],
								data: [
								{{product.monthly_revenue}},
								
								{% for product in this_catagory %}

								{{product.monthly_revenue}},

								{% endfor %}
								

								]
							}]
						},
						options: {
							title: {
								display: true,
								text: 'Total Revenue generated By products in Similar Segment (USD/Month)'
							}

						}
					});					
				</script>


			</div>
		</div>


		<div class="row rounded product-details"  style="margin-top: 20px">
			<div class="col-lg-2 col-md-12 col-sm-12">
			</div>
			<div class="container testimonial-group">
				<h4><b>{{product.product_name}} was inspired by</b></h4>
				<div class="row text-center">
					{% for product in product.twin.all %}
					<div class="twin-products">
						<a href="{{product.get_absolute_url}}"><p>{{product.product_name}}</p></a>
						<a class="maker" href="{% url 'user:user_profile' product.user.username %}"><sup>by {{product.user.username}}</sup></a>
						<p class="lead">${{product.monthly_revenue|intcomma}} /month</p>
					</div>

					{% empty %}
					<div class="twin-products">
						This product is unique!						
					</div>
					{% endfor %}
				</div>

				<h4 style="margin-top: 10px"><b>Products inspired by {{product.product_name}}</b></h4>

				<div class="row text-center">
					{% for twin in inspired_twins.all %}
					<div class="inspired-twin-products">
						<a href="{{twin.get_absolute_url}}"><p>{{twin.product_name}}</p></a>
						<a class="maker" href="{% url 'user:user_profile' twin.user.username %}"><sup>by {{twin.user.username}}</sup></a>
						<p class="lead">${{twin.monthly_revenue|intcomma}} /month</p>
					</div>
					{% empty %}
					<div class="inspired-twin-products">
						This product is unique!						
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

