{% extends 'index.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
{{top_text}} | {{ block.super }}
{% endblock %}



{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}

{% block header0 %}

<style>


div.title_card {
	/*		background-color: #BC4D49;*/
	min-height: 100px;
	min-width: 100px;
	padding: 10px; 
	margin: 10px; 
	color: #000000;
}

div.link_card {
	/*		background-color: #F0544F; */
	padding: 10px; 
	margin: 10px; 
	color: #000000;
}

div.hint_card {
	/*		background-color: #A0413E; */
	padding: 10px; 
	margin: 10px; 
	color: #000000;
}
</style>
{{ form.media }}
{% endblock %}

{% block content_1 %}
<div class="row">
	<div class="col">
		<h3>{{top_text}}</h3>
		<h3><small>{{form_text}}</small></h3>
	</div>
</div>
<div class="row">
	<form method="POST">{% csrf_token %}
		<div class="row">
			<div class="col-lg-12 rounded title_card">
				<p class="lead">Select Category</p>
				{{ product_form.catagory|add_class:'form-control' }}
				{% if product_form.catagory.errors %}
				{% for error in product_form.catagory.errors %}
				{{ error|escape }}
				{% endfor %}
				{% endif %}
				<p class="lead">Product Name</p>
				{{ product_form.product_name|add_class:'form-control' }}
				{% if product_form.product_name.errors %}
				{% for error in product_form.product_name.errors %}
				{{ error|escape }}
				{% endfor %}
				{% endif %}
				<p class="lead">Product Pitch</p>
				{{ product_form.product_pitch|add_class:'form-control' }}
				{% if product_form.product_pitch.errors %}
				{% for error in product_form.product_pitch.errors %}
				{{ error|escape }}
				{% endfor %}
				{% endif %}

				<p class="lead">Product Website</p>
				{{ product_form.website|add_class:'form-control' }}
				{% if product_form.website.errors %}
				{% for error in product_form.website.errors %}
				{{ error|escape }}
				{% endfor %}
				{% endif %}

				<p class="lead">Monthly Revenue</p>
				{{ product_form.monthly_revenue|add_class:'form-control' }}
				{% if product_form.monthly_revenue.errors %}
				{% for error in product_form.monthly_revenue.errors %}
				{{ error|escape }}
				{% endfor %}
				{% endif %}

				<p class="lead">Revenue Source</p>
				{{ product_form.revenue_source|add_class:'form-control' }}
				{% if product_form.revenue_source.errors %}
				{% for error in product_form.revenue_source.errors %}
				{{ error|escape }}
				{% endfor %}
				{% endif %}

			</div>
			{{ link_formset.management_form }}

		</div>

		<div class="row form-group">
			{% for link_form in link_formset %}
			<div class="col-lg-12 link-formset rounded link_card">
				<div class="row">
					<div class="col-lg-12">
						<p class="lead">Maker Contact</p>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-3"  style="padding-right: 5px">
								{{ link_form.contact_type|add_class:'form-control' }}
							</div>
							<div class="col-9" style="padding-left: 0px">
								{{ link_form.contact|add_class:'form-control' }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						{% for hidden_field in link_form.hidden_fields %}
						{{ hidden_field }}
						{% endfor %}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{% if link_form.contact.errors %}
						{% for error in link_form.contact.errors %}
						{{ error|escape }}
						{% endfor %}
						{% endif %}
						{% if link_form.title.errors %}
						{% for error in link_form.title.errors %}
						{{ error|escape }}
						{% endfor %}
						{% endif %}										
					</div>									
				</div>								
			</div>							
			{% endfor %}
			{% if link_formset.non_form_errors %}
			{% for error in link_formset.non_form_errors %}
			{{ error|escape }}
			{% endfor %}
			{% endif %}
		</div>
		<br>
		<input type="submit" value="{{ tab_text }}", class="btn btn-lg btn-primary btn-blockbutton">
		<!-- <input type='submit' class='btn btn-lg btn-primary btn-block' name='next' value='{{ nbar }}'/> -->
	</form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'base/formset/jquery.formset.js' %}"></script>

<script>
	$('.link-formset').formset({
		addText : 'Add More',
		deleteText : 'Delete',
		prefix : 'card_content'

	});
</script>

{% endblock %}
